html {
  height: 100%;
}
body {
    height: 100%;
  
  }
#root {
  height: 100%;
}
  
  ol, ul {
    padding-left: 30px;
   
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    font-size: 22px;
    margin-bottom: 10px;
    text-align: center;
    justify-content: center;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left; 
    font-size: 64px;
    font-weight: bold;
    line-height: 34px;
    height: 100px;
    margin-right: -1px; 
    margin-top: -1px; 
    padding: 0;
    text-align: center;
    width: 100px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    height: 100%;

  }
  
  .game-board {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
 .buttom_content{
  display: flex;
  justify-content: center;
  align-items: center;
 }

  .button {
  font-size: 18px;
  color: rgb(36, 34, 34);
  user-select: none; 
  background: rgb(212,75,56);
  padding: .7em 1.5em;
  border-radius: 14px;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 0 0 10px rgba(0,0,0,0.5)
} 
button:hover { 
  background: rgb(232,95,76);
  transition: 0.3s; 
} 
button:active { 
  background: rgb(152,15,0); 
} 
  
   .timer {
    top: 15%;
    justify-content: center;
    align-items: center;
  } 